:root {
    --cor-fundo: #27202c;
    --cor-texto-claro: white;
    --cor-laranja: #F49F51;
    --cor-laranja-claro: #F4B400;
    --cor-roxa: #820AD1;
    --cor-roxa-escura: #440399;
    --cor-preta: black;
    --cor-branca: white;
    --cor-texto: #3b2947;
    --cor-roxo-claro: #E2B6FF;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    text-align: justify;
}

.navbar{
    background-color: var(--cor-fundo);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--cor-laranja);
}
h3{
    margin-top: 20px;
}
.alert-1{
    background-color: var(--cor-roxo-claro);
    color: #27202c;
}
.alert-2{
    background-color: #F49F51;
    
}

.custom-navbar {
    padding: 10px 0; /* Ajuste do espaçamento superior e inferior */
  }
  
  .navbar-brand img {
    max-height: 44px;
    transition: transform 0.3s ease;
  }
  
  .navbar-brand img:hover {
    transform: scale(1.1); /* Efeito de zoom no logo ao passar o mouse */
  }
 
  .nav-link {
      margin: 0 10px; /* Margem entre os links */
      font-weight: 500;
      transition: color 0.3s;
      color: var(--cor-branca);
    }
    .nav-link:hover {
      color: #F49F51!important; /* Cor do texto */
    }
  .btn-custom {
    color: white;
    font-weight: bold;
    border-radius: 25px;
    padding: 8px 20px;
    background-color: #E2B6FF;
    transition: background-color 0.3s;
  }
  
  .btn-custom:hover {
    background-color: #F49F51;
  }
  p{
    font-size: 1.1em; line-height: 1.6;
  }

  @media (max-width: 576px) {
    *{
        text-align: justify;
    }
}

