*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}
.header-gurias {
    background-image: url('../assets/img/guraHero.jpg'); /* Substitua pela URL da imagem desejada */
    background-size: cover; /* Cobre todo o espaço do elemento */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    min-height:100vh; /* Altura total da janela de visualização */
    color: white;
    padding: 15px 0;
    position: relative;
}

@media (max-width: 768px) {
    .header-gurias {
        padding: 15px 0;
        background-size: cover;
        height: 5vh;
    }
    .navbar-nav .nav-link {
        font-size: 0.9rem; /* Diminuir o tamanho da fonte dos links de navegação */
        margin-right: 10px; /* Reduzir a margem direita */
    }
    /* Estilo para o botão */
    .navbar-nav .nav-item .btn-custom {
        background-color:white; /* Cor de fundo do botão */
        color: #820AD1;
        padding: 10px 20px;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        margin-right: 15px; /* Espaçamento horizontal para o botão */
        margin-top: 5px; /* Espaçamento superior */
        margin-bottom: 5px; /* Espaçamento inferior */
    }
    /* Estilo do botão ao passar o mouse */
    .navbar-nav .nav-item .btn-custom:hover {
        background-color: #F4B400;
        color: white;
    }
}
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}
.navbar-brand:hover {
    color: #F4B400;
}
.navbar-nav .nav-link {
    color: white;
    margin-right: 20px;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s ease;
}
.navbar-nav .nav-link:hover {
    color: #F4B400;
}
.btn-custom {
    background-color: white;
    color: #820AD1;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 50px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.btn-custom:hover {
    background-color: #F4B400;
    color: white;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.content {
    position: relative;
    z-index: 2;
}

.btn-main {
    background-color: #111;
    color: white;
}

.btn-main:hover {
    background-color: #F4B400;
    color: white;
}

.titulo{
    color:#820AD1;
}
.faq-section{
    background-color: rgb(47, 5, 73);
}
.card-animado{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-animado:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
}

.icon-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white; 
    border-radius: 50%; 
    width: 60px; 
    height: 60px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

.icon-large {
    font-size: 24px; 
    color: purple; 
}

.faq-section .card {
    margin-bottom: 20px;
}

.faq-section .card-body {
    background-color: #ffffff;
}
.img-comeco {
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.img-comeco:hover {
    transform: translateX(-10px) scale(0.9);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}
.team-section{
    background-color: rgb(47, 5, 73);
}
footer .social-links {
    display: flex;
    align-items: center;
}

footer .social-links a {
    margin-left: 15px;
    transition: transform 0.3s;
}

footer .social-links a:hover {
    transform: scale(1.2);
}















































.avatarWrapper {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeInSlideUp 1.2s ease-out;
}

.avatar {
    width: 280px;
    height: auto;
    opacity: 0;
    animation: fadeInAvatar 1.2s ease-out forwards;
}

.btn-close {
    background: none;
    border: none;
    color: #440399;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
    transition: color 0.3s ease;
    z-index: 1002;
}


.btn-close:hover {
    color: #ff4c4c;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

@keyframes fadeInSlideUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInText {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInAvatar {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}